<br>
<br>
<div class="signup-form">
    <div class="title">
        <div class="brand">
            <h1>PiNote</h1>
        </div>
        <div class="other">
            <h2>Signup Here</h2>
        </div>
    </div>
    <form [formGroup]="notesService.signupForm">
        <input formControlName="$key" type="hidden">
        <mat-form-field>
            <input matInput
            type="text"
            placeholder="Full Name"
            formControlName="fullName">
            <mat-error *ngIf="notesService.signupForm.get('fullName')?.invalid">Name is invalid name</mat-error>
            <mat-error *ngIf="notesService.signupForm.get('fullName')?.dirty || notesService.signupForm.get('fullName')?.touched">This field cannot be empty</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput
            type="email"
            placeholder="email"
            formControlName="email">
            <mat-error *ngIf="notesService.signupForm.get('email')?.invalid">Email is not a valid mail</mat-error>
            <mat-error *ngIf="notesService.signupForm.get('email')?.dirty || notesService.signupForm.get('email')?.touched">This field cannot be empty</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="notesService.signupForm.get('password')?.hasError('minLength') &&
            notesService.signupForm.get('password')?.dirty">Password must contain at least 7 characters</mat-error>
            <mat-error *ngIf="notesService.signupForm.get('password')?.dirty || notesService.signupForm.get('password')?.touched">This field cannot be empty</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="button" (click)="signup()"
        [disabled]="!notesService.signupForm.valid">Signup</button>
        <br>
        <button id="instead" mat-button type="button" routerLink="/login">Login Instead?</button>
        <mat-error class="final-mat-error" *ngIf="notesService.signupForm?.invalid && notesService.signupForm?.touched">Some or all the fields on this form are not correctly filled</mat-error>
    </form>
</div>
