<div class="add-form">
    <div class="title">
        <div class="brand">
            <h1>Add New Note</h1>
        </div>
    </div>
    <form [formGroup]="notesService.postForm">
        <input type="hidden" formControlName="$key">
        <br>
        <mat-form-field>
            <input matInput
            type="text"
            placeholder="title..."
            formControlName="title">
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea
            matInput
            type="text"
            formControlName="content"
            placeholder="start writing note..."></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="button" (click)="notesService.addNote()">Add</button>
        <br>
    </form>
</div>
