<br>
<br>
<div class="background">
  <div class="login-form">
    <div class="title">
        <div class="brand">
            <h1>PiNote</h1>
        </div>
        <div class="other">
            <h2>Login Here</h2>
        </div>
    </div>
    <form [formGroup]="notesService.loginForm">
        <br>
        <input formControlName="$key" type="hidden">
        <mat-form-field>
            <input matInput
            type="email"
            placeholder="email"
            formControlName="email">
            <mat-error *ngIf="notesService.loginForm.get('email')?.dirty || notesService.loginForm.get('email')?.touched">This field cannot be left empty</mat-error>
            <mat-error *ngIf="notesService.loginForm.get('email')?.invalid">Email is invalid</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="notesService.loginForm.get('password')?.hasError('minLength') &&
            notesService.loginForm.get('password')?.dirty">Password must contain at least 7 characters</mat-error>
            <mat-error *ngIf="notesService.loginForm.get('password')?.dirty || notesService.loginForm.get('password')?.touched">This field cannot be empty</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="button" (click)="login()"
        [disabled]="!notesService.loginForm.valid">Login</button>
        <br>
        <button id="instead" mat-button routerLink="/signup">Signup Instead?</button>
        <mat-error class="final-mat-error" *ngIf="notesService.loginForm?.invalid && notesService.loginForm?.touched">Some or all the fields on this form are not correctly filled</mat-error>
    </form>
</div>

</div>
