<br>
<br>
<div class="login-form">
    <div class="title">
        <div class="brand">
            <h1>PiNote</h1>
        </div>
        <div class="other">
            <h2>Login Here</h2>
        </div>
    </div>
    <form [formGroup]="notesService.loginForm">
        <br>
        <mat-form-field>
            <input matInput
            type="email"
            placeholder="email"
            formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input
            matInput
            type="password"
            formControlName="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" routerLink="/dashboard">Login</button>
        <br>
        <button id="instead" mat-button routerLink="/signup">Signup Instead?</button>
    </form>
</div>