<div class="dashboard">
    <div class="toolbar">
        <div class="brand">
            <h1>PiNote</h1>
        </div>
       <div class="toolbar-content">
        <mat-toolbar>
            <ul>
                <li><a routerLink="/dashboard/home">Home</a></li>
                <li><a routerLink="/dashboard/addition">Addition</a></li>
                <li><a routerLink="/dashboard/backlog">Backlog</a></li>
            </ul>
        </mat-toolbar>
       </div>
        <div class="dropdowns">
            <div class="toolbar-dropdown">
                <button mat-button><mat-icon>menu</mat-icon></button>
                <div class="dropdown-one">
                    <ul>
                        <li><a routerLink="/dashboard/home">Home</a></li>
                        <li><a routerLink="/dashboard/addition">Addition</a></li>
                        <li><a routerLink="/dashboard/backlog">Backlog</a></li>
                    </ul>
                </div>
            </div>
            <div class="avatar-dropdown">
                <h1>Avatar</h1>
            </div>
        </div>
    </div>
    <div class="dashboard-router">
        <router-outlet></router-outlet>
    </div>
</div>
